 body {
    background-color:wheat;
 }
 h2 { 
    color: orange;
}
p {
    color: brown;
}
h3 {
    color: orange;
}
td {
    color: brown;
}
li {
    color: brown;
}
body {
    color: brown;
}

a {
    color: red;

}


.gg{
    color: blue;
    background-color: brown;
}
.bb{
    color: red;
}